@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

html,
body {
    height: 98%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.hidden {
    display: none;
}

#main {
	overflow: hidden;
}

#sidebar-frame {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1%;
    height: 96%;
    width: 13%;
    border-style: none;
    background-color: #FFF;
}

#content-frame {
    position: absolute;
    top: 0%;
    left: 15%;
    margin: 0;
    padding: 1%;
    height: 96%;
    width: 83%;
    border-style: none;
    background-color: #FFF;
}

#sidebar .muc-logo {
    display: block;
    width: 80%;
}

#sidebar a {
    text-decoration: none;
}

#sidebar ul {
    width: 90%;
    word-wrap: break-word;
    list-style-type: none;
    padding-left: 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #000;
}

#sidebar ul li a:hover {
    cursor: pointer;
    color: #5064aa;
}

#sidebar h2 {
    width: 90%;
    word-wrap: break-word;
    color: #252d3d;
}

#content h1, h2, h3, h4, h5 {
    color: #252d3d;
}

#content h3,h4 {
	margin-top: 3em;
}

#content h2 {
    margin-top: 2em;
    color: #5064aa;
}

#content h4 a {
    font-size: 1.2em;
    text-decoration: none;
    color: #5064aa;;
}

#content .intro {
    display: block;
    width: 80%;
    border-style: solid;
    border-width: 0 0 0 0.25em;
    border-color: #5064aa;    
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 0 2em 0;
    padding: 0 0 0 1em;
}

#content .intro .highlight {
    font-style: italic;
    font-weight: bold;
}


#content .intro ul {
    list-style-type: square;
}


#content .intro a {
    color: #5064aa;
    text-decoration: none;
}

#content .whitespace {
    display: block;
    height: 50%;
}

#paper {
    padding: 0;
}

#paper .paper-info {
    display: block;
    margin: 1% 0 0 0;
    padding: 0;
    height: 6%;
    width: 100%;
    background-color: #FFF;
    text-align: left;
    vertical-align: top;
}

#paper .paper-info .icon {
    display: block;
    float: left;
    font-size: 200%;
    color: #252d3d;
}

#paper .paper-info .icon:hover {
    cursor: pointer;
    color: #d3d724;
}

#paper .paper-info .paper-data {
    display: block;
    float: left;
}

#paper .paper-info .paper-data .session {
    font-size: 1.2em;
    font-variant: small-caps;
    color: #5064aa;
}

#paper .paper-info .paper-data .title {
    font-size: 1.2em;
    font-style: italic;
}

#paper .paper-info .paper-data .authors {
    font-size: 1em;
}

#paper .file-pdf {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 92%;
}

.toc-entry {
	display: block;
	width: 90%;
	margin-bottom: 1em;
}

.toc-entry .title {
    display: block;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #5064aa;
}

.toc-entry .authors {
    display: block;
    font-size: 1em;
    color: #252d3d;
    font-style: italic;
}

.toc-entry a {
    text-decoration: none;
    color: #252d3d;
}

.toc-entry a:hover {
    cursor: pointer;
}

::-webkit-scrollbar-button {
    display: block;
    height: 0.5em;
    border-radius: 0em;
    background-color: #252d3d;
}

 ::-webkit-scrollbar-button:hover {
    background-color: #252d3d;
}

 ::-webkit-scrollbar-thumb {
    background-color: #d3d724;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #d3d724;
}

 ::-webkit-scrollbar-track {
    background-color: #eeefe1;
}

 ::-webkit-scrollbar-track:hover {
    background-color: #eeefe1;
}

 ::-webkit-scrollbar {
    width: 0.5em;
}