<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="../../resources/css/styles-main.css">
</head>

<body id="paper">
    <object class="file-pdf" data="../../{{PATH}}" type="application/pdf">
        <a href="../../{{PATH}}">PDF extern öffnen</a>
    </object>
</body>

</html>