<div class="toc-entry">
    <a href="papers/Keynote-{{ID}}.html" target="content">
        <span class="title">Keynote (Abstract): {{TITLE}}</span>
        <span class="authors">{{AUTHOR}}</span>
        </a>
</div>